* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	padding: 0 50px;
	display: flex;
	gap: 30px;
}

.data-collection-form {
	width: 30%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	padding-bottom: 50px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.data-display-table {
	width: 70%;
}

.data-collection-form h2 {
	margin-bottom: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.form input {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid gray;
	border-radius: 5px;
	outline: none;
}

.form select {
	width: 100%;
	padding: 15px 13px;
	font-size: 18px;
	border: 1px solid gray;
	border-radius: 5px;
	outline: none;
	appearance: none;
	position: relative;
	z-index: 10;
}

.form-select:focus {
	border-color: gray;
	box-shadow: none;
}

.add-btn {
	background-color: green;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding: 15px;
	border: none;
	border-radius: 5px;
}

.data-display-table {
	padding-top: 30px;
}

#tbody tr td,
thead tr th {
	padding: 10px 20px !important;
	white-space: nowrap;
}

@media screen and (max-width: 992px) {
	.data-collection-form {
		width: 40%;
	}
	.data-display-table {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.main-container {
		flex-direction: column;
		padding: 0 20px;
	}

	.data-collection-form,
	.data-display-table {
		width: 100%;
	}
}
