* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.data-collection-form {
	max-width: 800px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	padding-bottom: 50px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.data-collection-form h2 {
	margin-bottom: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.form input {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid gray;
	border-radius: 5px;
	outline: none;
}

.form select {
	width: 100%;
	padding: 15px 13px;
	font-size: 18px;
	border: 1px solid gray;
	border-radius: 5px;
	outline: none;
	appearance: none;
	position: relative;
	z-index: 10;
}

.form-select:focus {
	border-color: gray;
	box-shadow: none;
}

.add-btn {
	background-color: green;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding: 15px;
	border: none;
	border-radius: 5px;
}
